body {
	background-color: #EEE;
}
.tabsDiv {
	width: 500px;
	height: 350px;
	margin: 100px auto;
	border: 1px solid black;
	background-color: white;
}
.tabsDiv ul {
	width: 500px;
	height: 30px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.tabsDiv li {
	width:25%;
	height:30px;
	line-height:30px;
}
.tabsDiv div {
	background-color: yellow;
	height:20px;
	width:60px;
	text-align: center;
	margin: 50px auto;
}
.tabsSeletedLi {
	background-color: white;
	float: left;
	text-align: center;
}
.tabsSeletedLi a {
	color: black;
	text-decoration: none;
	font-weight:bold;
}
.tabsSeletedLi a:hover {
	color: grey;
}
.tabsUnSeletedLi {
	background-color: black;
	float: left;
	text-align: center;
}
.tabsUnSeletedLi a {
	color: white;
	text-decoration: none;
	font-weight:bold;
}
.tabsUnSeletedLi a:hover {
	color: grey;
}