body {
  margin: 0;
}

#app-origin {
  position: fixed;
  z-index: 1;
  width: 320px;
  height: 240px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid #444;
}

#app {
  width: 320px;
  height: 240px;
  background-color: bisque;
  font-size: 32px;
  text-align: center;
  line-height: 240px;
  transform: scale(0.5);
  transform-origin: 0 0;
}

#app span {
  padding: 10px;
}