body {
    padding: 0;
    margin: 0;
}
#bar {
    padding: 20px 0;
    text-align: center;
}
#head {
    width: 600px;
    height: 30px;
    line-height: 26px;
    margin: 0 auto;
}
#head div {
    width: 196px;
    border: 2px solid #FFFFFF;
    background-color: orange;
    text-align: center;
    font-size: larger;
    float: left;
}
#content {
    width: 600px;
    height: 30px;
    line-height: 26px;
    margin: 0 auto;
}
#content > div {
    width: 600px;
    height: 30px;
    clear: both;
}
#content > div > div {
    width: 196px;
    max-height: 26px;
    border: 2px solid #FFFFFF;
    background-color: yellowgreen;
    font-size: medium;
    text-align: center;
    overflow: hidden;
    float: left;
}